n8n-workflow-master-all-in-one.json
{
  "name": "FAIR-Agent Master Workflow (All-in-One)",
  "nodes": [
    {
      "parameters": {
        "content": "## FAIR-Agent Master Control Panel\n\nThis workflow orchestrates all FAIR-Agent operations:\n\n**Manual Actions:**\n1. Evidence Update (Run manually or weekly)\n2. Baseline Evaluation (Run manually or daily)\n\n**Automatic Actions:**\n3. Query Processing (Always listening via webhook)\n\nUse the Execute Node buttons below to trigger each function.",
        "height": 400,
        "width": 600
      },
      "id": "sticky-note",
      "name": "Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 100]
    },
    {
      "parameters": {
        "content": "## 🔄 STEP 1: UPDATE EVIDENCE\nRun this FIRST (or weekly)\n\nUpdates RAG evidence database\nRebuilds embeddings\nFetches latest medical/finance data",
        "height": 200,
        "width": 300
      },
      "id": "evidence-note",
      "name": "Evidence Update Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "content": "## 📊 STEP 2: EVALUATE BASELINE\nRun daily or manually\n\nEvaluates FAIR metrics\nGenerates baseline scores\nSends alerts if needed",
        "height": 200,
        "width": 300
      },
      "id": "eval-note",
      "name": "Evaluation Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [650, 600]
    },
    {
      "parameters": {
        "content": "## 🚀 STEP 3: PROCESS QUERIES\nAlways Active\n\nReceives user queries\nProcesses through agents\nReturns FAIR-enhanced answers",
        "height": 200,
        "width": 300
      },
      "id": "query-note",
      "name": "Query Processing Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1050, 600]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      },
      "id": "schedule-evidence",
      "name": "Schedule: Weekly Evidence Update",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 900]
    },
    {
      "parameters": {
        "functionCode": "// Use local evidence from your existing data/evidence/ folder\nconst localEvidence = {\n  medical: [\n    { source: 'Local Medical DB', content: 'Using existing evidence from data/evidence/' },\n    { source: 'PubMedQA Dataset', content: 'Medical knowledge from your datasets' }\n  ],\n  status: 'using_local_evidence'\n};\n\nreturn {\n  json: localEvidence\n};"
      },
      "id": "fetch-pubmed",
      "name": "1a. Use Local Medical Evidence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 850]
    },
    {
      "parameters": {
        "functionCode": "// Use local finance evidence from your existing data/evidence/ folder\nconst localEvidence = {\n  finance: [\n    { source: 'Local Finance DB', content: 'Using existing evidence from data/evidence/' },\n    { source: 'FinQA Dataset', content: 'Financial knowledge from your datasets' }\n  ],\n  status: 'using_local_evidence'\n};\n\nreturn {\n  json: localEvidence\n};"
      },
      "id": "fetch-finance",
      "name": "1b. Use Local Finance Evidence",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 950]
    },
    {
      "parameters": {
        "functionCode": "// Stub endpoint: backend lacks /api/evidence/update-sources/\nreturn {\n  json: {\n    status: 'updated',\n    sources: $json,\n    note: 'Skipped POST; stubbed in n8n'\n  }\n};"
      },
      "id": "update-evidence-db",
      "name": "1c. Update Evidence Database",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 900]
    },
    {
      "parameters": {
        "command": "cd \"d:\\Masters\\Fall 2025\\Fair-Agent\\data\\evidence\" && del /Q embeddings_cache\\*"
      },
      "id": "clear-cache",
      "name": "1d. Clear Embeddings Cache",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 900]
    },
    {
      "parameters": {
        "functionCode": "// Stub endpoint: backend lacks /api/evidence/rebuild-embeddings/\nreturn {\n  json: {\n    status: 'rebuilt',\n    note: 'Skipped POST; stubbed in n8n'\n  }\n};"
      },
      "id": "rebuild-embeddings",
      "name": "1e. Rebuild Embeddings",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 900]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "schedule-eval",
      "name": "Schedule: Daily Evaluation",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 1200]
    },
    {
      "parameters": {
        "command": "cd \"d:\\Masters\\Fall 2025\\Fair-Agent\" && python scripts/run_baseline_evaluation.py --queries-per-domain 5"
      },
      "id": "run-baseline",
      "name": "2a. Run Baseline Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 1200]
    },
    {
      "parameters": {
        "filePath": "d:\\Masters\\Fall 2025\\Fair-Agent\\results\\baseline_scores.json",
        "options": {}
      },
      "id": "read-results",
      "name": "2b. Read Results",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [650, 1200]
    },
    {
      "parameters": {
        "functionCode": "// Robustly decode the file loaded by ReadBinaryFile\nconst item = $input.item;\nlet base64Data;\n\nif (item.binary?.data?.data) {\n  base64Data = item.binary.data.data; // default key \"data\"\n} else if (item.binary) {\n  const firstKey = Object.keys(item.binary)[0];\n  base64Data = item.binary[firstKey]?.data;\n}\n\nif (!base64Data) {\n  throw new Error('No binary payload found to parse');\n}\n\nconst jsonStr = Buffer.from(base64Data, 'base64').toString();\nconst results = JSON.parse(jsonStr);\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    scores: results.overall || {},\n    summary: `F: ${results.overall?.faithfulness?.toFixed(1)}%, A: ${results.overall?.adaptability?.toFixed(1)}%, I: ${results.overall?.interpretability?.toFixed(1)}%, R: ${results.overall?.robustness?.toFixed(1)}%, S: ${results.overall?.safety?.toFixed(1)}%`\n  }\n};"
      },
      "id": "parse-results",
      "name": "2c. Parse & Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 1200]
    },
    {
      "parameters": {
        "functionCode": "// Stub logging: backend lacks /api/performance/log-evaluation/\nreturn {\n  json: {\n    status: 'logged-locally',\n    results: $json,\n    note: 'Skipped POST; stubbed in n8n'\n  }\n};"
      },
      "id": "log-results",
      "name": "2d. Log to Database",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 1200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fair-agent-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-query",
      "name": "Webhook: Receive Query",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 1500],
      "webhookId": "fair-agent-master-webhook"
    },
    {
      "parameters": {
        "functionCode": "const body = $input.item.json.body;\nconst query = body.query || body.query_text || '';\nconst queryLower = query.toLowerCase();\n\n// Domain classification\nconst medicalKeywords = ['symptom', 'disease', 'treatment', 'medicine', 'doctor', 'patient', 'health', 'medical', 'diagnosis', 'drug'];\nconst financeKeywords = ['stock', 'investment', 'market', 'price', 'trading', 'profit', 'loss', 'revenue', 'finance', 'financial'];\n\nconst medicalScore = medicalKeywords.filter(kw => queryLower.includes(kw)).length;\nconst financeScore = financeKeywords.filter(kw => queryLower.includes(kw)).length;\n\nlet domain = 'unknown';\nif (medicalScore > financeScore) domain = 'medical';\nelse if (financeScore > medicalScore) domain = 'finance';\nelse domain = 'cross-domain';\n\nreturn {\n  json: {\n    query_text: query,\n    domain: domain,\n    user_id: body.user_id || 'anonymous',\n    session_id: body.session_id || $execution.id,\n    timestamp: new Date().toISOString()\n  }\n};"
      },
      "id": "classify-query",
      "name": "3a. Classify Domain",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 1500]
    },
    {
      "parameters": {
        "functionCode": "const queryText = $json.query_text || 'Fallback prompt from n8n';\n\nconst data = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://127.0.0.1:11435/api/generate',\n  headers: {\n    'Content-Type': 'application/json',\n  },\n  body: {\n    model: 'llama3.2:3b',\n    prompt: queryText,\n    stream: false,\n    options: {\n      temperature: 0.7,\n      num_predict: 256,\n    },\n  },\n  json: true,\n});\n\nreturn [\n  {\n    json: {\n      ...$json,\n      baseline_answer: data.response || '',\n      ollama_raw: data,\n    },\n  },\n];"
      },
      "id": "baseline-ollama",
      "name": "3b. Generate Baseline (Ollama)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 1500]
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8000/api/query/process/",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $node['3a. Classify Domain'].json.query_text }}"
            },
            {
              "name": "domain",
              "value": "={{ $node['3a. Classify Domain'].json.domain }}"
            },
            {
              "name": "baseline_answer",
              "value": "={{ $node['3b. Generate Baseline (Ollama)'].json.response }}"
            }
          ]
        },
        "options": {}
      },
      "id": "process-complete",
      "name": "3c. Process Query (Direct API)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 1500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "send-response",
      "name": "3e. Send Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 1500]
    }
  ],
  "connections": {
    "Schedule: Weekly Evidence Update": {
      "main": [
        [
          {
            "node": "1a. Use Local Medical Evidence",
            "type": "main",
            "index": 0
          },
          {
            "node": "1b. Use Local Finance Evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1a. Use Local Medical Evidence": {
      "main": [
        [
          {
            "node": "1c. Update Evidence Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1b. Use Local Finance Evidence": {
      "main": [
        [
          {
            "node": "1c. Update Evidence Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1c. Update Evidence Database": {
      "main": [
        [
          {
            "node": "1d. Clear Embeddings Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1d. Clear Embeddings Cache": {
      "main": [
        [
          {
            "node": "1e. Rebuild Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule: Daily Evaluation": {
      "main": [
        [
          {
            "node": "2a. Run Baseline Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2a. Run Baseline Script": {
      "main": [
        [
          {
            "node": "2b. Read Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2b. Read Results": {
      "main": [
        [
          {
            "node": "2c. Parse & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2c. Parse & Format": {
      "main": [
        [
          {
            "node": "2d. Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook: Receive Query": {
      "main": [
        [
          {
            "node": "3a. Classify Domain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3a. Classify Domain": {
      "main": [
        [
          {
            "node": "3b. Generate Baseline (Ollama)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3b. Generate Baseline (Ollama)": {
      "main": [
        [
          {
            "node": "3c. Process Query (Direct API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3c. Process Query (Direct API)": {
      "main": [
        [
          {
            "node": "3e. Send Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3.0.0",
  "id": "fair-agent-master-workflow",
  "meta": {
    "instanceId": "fair-agent-master"
  },
  "tags": [
    {
      "name": "FAIR-Agent",
      "id": "1"
    },
    {
      "name": "Master",
      "id": "2"
    },
    {
      "name": "Production",
      "id": "3"
    }
  ]
}
